body {
    font-family: Microsoft YaHei;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    word-wrap: break-word;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

#title-icon {
    width: 30px;
    vertical-align: bottom;
    margin-right: 8px;
}

#thank-you {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: #e48237ff;
}

.donation-card {
    text-align: center;
}

.select-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

select {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    flex: 1;
}

#icon-wrapper {
    margin-left: 10px;
}

#blockchain-icon {
    width: 30px;
    height: 30px;
}

#qr-code {
    width: 150px;
    margin-bottom: 15px;
}

#address {
    font-family: consolas;
    font-size: 14px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#copyIcon {
    width: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.language-list {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.language-list li {
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
}

.language-list li:hover {
    color: #4caf50;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-media a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 30px;
}

footer {
    font-size: 14px;
    color: #777;
}
